data/clinvar/raw/*
!data/clinvar/raw/.gitkeep
data/clinvar/processed/*
!data/clinvar/processed/.gitkeep
data/pharmgkb/cache/*
!data/pharmgkb/cache/.gitkeep

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.web_runtime/
outputs/runtime_check_no_pgx/
outputs/runtime_check_with_pgx/
data/screenshots/0_webpage.png

WORKPLAN.local.md
